<a href="https://colab.research.google.com/github/8Chatea8/Python_Quest/blob/master/MainQuest/MainQuest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Q1. Account 클래스
은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다.  
Account 클래스를 생성한 후 생성자를 구현하기  
생성자에서는 예금주와 초기 잔액만 입력 받음  
은행이름은 SC은행으로 계좌 번호는 3자리-2자리-6자리 형태로 랜덤하게 생성  
은행이름:SC은행  
계좌번호: 111-11-111111

In [1]:
import random
# 랜덤으로 게좌번호를 생성하기 위해 random 모듈 임포트

In [2]:
class Account():
    def __init__(self, name, balance):
        self.name = name            # 예금주
        self.balance = balance      # 잔액
        self.bank = 'SC은행'        # 은행이름

        # 각 자리수에 맞게 무작위 번호 생성
        num1 = random.randint(0,999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        # 자리수 맞추기 위해 0 채워주기         num1 = 3 이면, num1 = 003 으로 저장하기
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)

        self.account_number = num1 + '-' + num2 + '-' + num3    # 계좌번호

In [3]:
jecha = Account('차정은', 4000)
print(jecha.name, jecha.balance, jecha.bank, jecha.account_number)

차정은 4000 SC은행 453-32-903682

### Q2. 클래스 변수
클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수 저장하기

In [4]:
class Account():
    # 클래스 변수
    account_count = 0

    def __init__(self, name, balance):
        self.name = name            # 예금주
        self.balance = balance      # 잔액
        self.bank = 'SC은행'        # 은행이름

        # 각 자리수에 맞게 무작위 번호 생성
        num1 = random.randint(0,999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        # 자리수 맞추기 위해 0 채워주기         num1 = 3 이면, num1 = 003 으로 저장하기
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)

        self.account_number = num1 + '-' + num2 + '-' + num3    # 계좌번호 

        # 계좌번호가 생성될 때 클래스 변수 account_count에 1씩 더하기
        Account.account_count += 1

In [5]:
harry = Account('해리 포터', 4000000)
ron = Account('론 위즐리', 2000)
hermione = Account('헤르미온느 그레인저', 50000)

Account.account_count

3

### Q3. 클래스 변수 출력
Account 클래스로부터 생성된 계좌의 개수를 출력하는 `get_account_num()` 메서드 추가

In [6]:
class Account():
    # 클래스 변수
    account_count = 0

    def __init__(self, name, balance):
        self.name = name            # 예금주
        self.balance = balance      # 잔액
        self.bank = 'SC은행'        # 은행이름

        # 각 자리수에 맞게 무작위 번호 생성
        num1 = random.randint(0,999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        # 자리수 맞추기 위해 0 채워주기         num1 = 3 이면, num1 = 003 으로 저장하기
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)

        self.account_number = num1 + '-' + num2 + '-' + num3    # 계좌번호 

        # 계좌번호가 생성될 때 클래스 변수 account_count에 1씩 더하기
        Account.account_count += 1

    # 클래스 변수에 접근하기 때문에 클래스 메서드 사용 
    @classmethod
    def get_account_num(cls):
        print(f'생성된 계좌의 총 개수는 {cls.account_count}개 입니다.')

In [7]:
harry = Account('해리 포터', 4000000)
ron = Account('론 위즐리', 2000)
hermione = Account('헤르미온느 그레인저', 50000)

Account.get_account_num()

생성된 계좌의 총 개수는 3개 입니다.

### Q4. 입금 메서드
Account 클래스에 입금을 위한 deposit 메서드 추가하기   
입금은 최소 1원 이상만 가능

In [8]:
def deposit(self, money):
    if money > 0:
        self.balance += money
    else:
        print('입금은 최소 1원 이상만 가능 합니다.')

Account.deposit = deposit

In [9]:
print(harry.balance)
harry.deposit(2000)
print(harry.balance)

4000000
4002000

In [10]:
print(ron.balance)
ron.deposit(-200)
print(ron.balance)

2000
입금은 최소 1원 이상만 가능 합니다.
2000

### Q5. 출금 메서드
Account 클래스에 출금을 위한 withdraw 메서드 추가하기  
출금은 계좌의 잔고 이상으로 출금할 수 없음

In [11]:
def withdraw(self, money):
    if money <= self.balance:
        self.balance -= money
    else:
        print('계좌 잔고 이상으로 출금할 수 없음')

Account.withdraw = withdraw

In [12]:
print(harry.balance)
harry.withdraw(2000)
print(harry.balance)

4002000
4000000

In [13]:
print(ron.balance)
ron.withdraw(4000)
print(ron.balance)

2000
계좌 잔고 이상으로 출금할 수 없음
2000

### Q6. 정보 출력 메서드
Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드 추가하기   
잔고는 세자리마다 쉼표 출력하기  
```python
은행이름: SC은행
예금주: 파이썬
계좌번호: 111-11-111111
잔고: 10,000원
```

In [14]:
def display_info(self):
    print(f'은행이름: {self.bank}')
    print(f'예금주: {self.name}')
    print(f'계좌번호: {self.account_number}')
    print(f'잔고: {self.balance:,}')

Account.display_info = display_info

In [15]:
harry.display_info()

은행이름: SC은행
예금주: 해리 포터
계좌번호: 782-85-152138
잔고: 4,000,000

In [16]:
ron.display_info()

은행이름: SC은행
예금주: 론 위즐리
계좌번호: 913-28-070700
잔고: 2,000

### Q7. 이자 지금하기
입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드 변경하기

In [17]:
class Account():
    # 클래스 변수
    account_count = 0

    def __init__(self, name, balance):
        self.name = name            # 예금주
        self.balance = balance      # 잔액
        self.bank = 'SC은행'        # 은행이름
        self.deposit_times = 0      # 입금 횟수

        # 각 자리수에 맞게 무작위 번호 생성
        num1 = random.randint(0,999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        # 자리수 맞추기 위해 0 채워주기         num1 = 3 이면, num1 = 003 으로 저장하기
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)

        self.account_number = num1 + '-' + num2 + '-' + num3    # 계좌번호 

        # 계좌번호가 생성될 때 클래스 변수 account_count에 1씩 더하기
        Account.account_count += 1

    # 클래스 변수에 접근하기 때문에 클래스 메서드 사용 
    @classmethod
    def get_account_num(cls):
        print(f'생성된 계좌의 총 개수는 {cls.account_count}개 입니다.')
    
    # 입금 메서드
    def deposit(self, money):
        if money > 0:
            self.balance += money
            self.deposit_times += 1
            if self.deposit_times % 5 == 0:             # 입금 횟수가 5의 배수일 때
                self.balance += self.balance * 0.01     # 잔고의 1%를 더하기
        else:
            print('입금은 최소 1원 이상만 가능 합니다.')

    # 출금 메서드
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
        else:
            print('계좌 잔고 이상으로 출금할 수 없음')

    # 정보 출력 메서드
    def display_info(self):
        print(f'은행이름: {self.bank}')
        print(f'예금주: {self.name}')
        print(f'계좌번호: {self.account_number}')
        print(f'잔고: {self.balance:,}')

In [18]:
harry = Account("해리 포터", 4000000)
harry.display_info()

for i in range(5):
    harry.deposit(2000)

print(harry.balance)

은행이름: SC은행
예금주: 해리 포터
계좌번호: 582-47-509647
잔고: 4,000,000
4050100.0

### Q8. 여러 객체 생성
Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장하기

In [23]:
harry = Account("해리 포터", 4000000)
ron = Account("론 위즐리", 2000)
hermione = Account("헤르미온느 그레인저", 1500000)

account_list = [harry, ron, hermione]
account_list

[<__main__.Account at 0x7f0d28113ee0>,
 <__main__.Account at 0x7f0d28110c10>,
 <__main__.Account at 0x7f0d281125f0>]

### Q9. 객체 순회
반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 **출력하기**

In [24]:
for account in account_list:
    if account.balance >= 1000000:
        account.display_info()

은행이름: SC은행
예금주: 해리 포터
계좌번호: 485-00-824057
잔고: 4,000,000
은행이름: SC은행
예금주: 헤르미온느 그레인저
계좌번호: 429-32-124341
잔고: 1,500,000

### MainQuest Q10. 입출금 내역
입금과 출금 내역이 기록되도록 코드를 업데이트하기  
입금 내역과 출금 내역을 출력하는 deposit_history와 withdraw_history 메서드 추가하기

In [25]:
class Account():
    # 클래스 변수
    account_count = 0

    def __init__(self, name, balance):
        self.name = name            # 예금주
        self.balance = balance      # 잔액
        self.bank = 'SC은행'        # 은행이름

        self.deposit_times = 0      # 입금 횟수
        self.balance_log = []       # 입출금 내역 리스트

        # 각 자리수에 맞게 무작위 번호 생성
        num1 = random.randint(0,999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        # 자리수 맞추기 위해 0 채워주기         num1 = 3 이면, num1 = 003 으로 저장하기
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)

        self.account_number = num1 + '-' + num2 + '-' + num3    # 계좌번호 

        # 계좌가 생성될 때 클래스 변수 account_count에 1씩 더하기
        Account.account_count += 1

    # 클래스 변수에 접근하기 때문에 클래스 메서드 사용 
    @classmethod
    def get_account_num(cls):
        print(f'생성된 계좌의 총 개수는 {cls.account_count}개 입니다.')
    
    # 입금 메서드
    def deposit(self, money):
        if money > 0:
            self.balance += money
            self.deposit_times += 1
            temp = ['입금', money, self.balance]        # 입금할 때 입금, 금액, 잔액 정보 저장
            self.balance_log.append(temp)
            if self.deposit_times % 5 == 0:             # 입금 횟수가 5의 배수일 때
                interest = int(self.balance * 0.01)     # 잔고의 1%인 이자 계산.  1원 미만은 버림
                self.balance += interest                # 잔고에 이자 더하기
                temp = ['이자', interest, self.balance]
                self.balance_log.append(temp)           # 이자 입금 될 때 로그 저장
        else:
            print('입금은 최소 1원 이상만 가능 합니다.')

    # 출금 메서드
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
            temp = ['출금', money, self.balance]        # 출금할 때 출금, 금액, 잔액 정보 저장
            self.balance_log.append(temp)
        else:
            print('계좌 잔고 이상으로 출금할 수 없습니다.')

    # 정보 출력 메서드
    def display_info(self):
        print(f'은행이름: {self.bank}')
        print(f'예금주: {self.name}')
        print(f'계좌번호: {self.account_number}')
        print(f'잔고: {self.balance:,}')

    # 입금 내역 출력 메서드
    def deposit_history(self):
        for log in self.balance_log:
            if log[0] == '입금':
                print(log)
    
    # 출금 내역 출력 메서드
    def withdraw_history(self):
        for log in self.balance_log:
            if log[0] == '출금':
                print(log)

In [26]:
harry = Account('해리 포터', 4000000)

In [27]:
harry.deposit(2000)
harry.deposit(35000)
harry.deposit(7200)
harry.withdraw(3000)
harry.deposit(98000)
harry.withdraw(25000)
harry.deposit(5000)

In [28]:
harry.deposit_history()

['입금', 2000, 4002000]
['입금', 35000, 4037000]
['입금', 7200, 4044200]
['입금', 98000, 4139200]
['입금', 5000, 4119200]

In [29]:
harry.withdraw_history()

['출금', 3000, 4041200]
['출금', 25000, 4114200]

In [30]:
harry.balance_log

[['입금', 2000, 4002000],
 ['입금', 35000, 4037000],
 ['입금', 7200, 4044200],
 ['출금', 3000, 4041200],
 ['입금', 98000, 4139200],
 ['출금', 25000, 4114200],
 ['입금', 5000, 4119200],
 ['이자', 41192, 4160392]]